language: python
python:
  - "nightly"
# command to install dependencies
install:
 - "pip install -r requirements.txt"
 - "python setup.py install"
# command to run tests
script:
 - "nose2 -v -t '../'"
